.main_section {
    display: flex; 
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100vw;   
    height: 100vh;
}

.main_section > div {
    flex: 1; 
    padding: 2rem;
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.Player_session{
    text-align: center;
}

.main_section > div:nth-child(1), 
.main_section > div:nth-child(3) { 
    background-color: #A9A9A9; 
    color: #333; 
}
.main_section > div:nth-child(2) {
    background-color: #D3D3D3; 
    color: #333;
    justify-content: center; 
    gap: 1rem; 
    text-align: center;
}

.main_section > div:nth-child(1) h1,
.Winners h3 {
    color: #4CAF50; 
    font-size: 1.5rem; 
    font-weight: bold; 
    margin-bottom: 1rem; 
    align-self: flex-start;
}

.main_section ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    width: 100%; 
    text-align: left; 
}

.main_section ul li {
    
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    padding: 0.5rem; 
    border-radius: 0.25rem; 
    background-color: rgba(255, 255, 255, 0.1); 
    color: #333; 
    font-size: 1.1rem; 
    margin-bottom: 0.5rem; 
}

.main_section ul li:last-child {
    margin-bottom: 0; 
}

.main_section > div:nth-child(2) span { 
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.main_section > div:nth-child(2) h3 { 
    font-size: 4rem; 
    font-weight: bold;
    margin: 0.5rem 0 1rem 0;
}

.new-session-message {
    color: #FF0000; 
    font-size: 1.1rem;
    margin-top: auto; 
}

.winner-board{
    text-align: center;
    color: #4CAF50;
}